[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "==1.1.1"
flask-restful = "==0.3.7"
python-dotenv = "==0.10.3"
pytest = "==5.3.2"
celery = "==4.4.0"
psycopg2-binary = "==2.8.4"
sqlalchemy-utils = "==0.36.1"
requests = "==2.22.0"
flask-marshmallow = "==0.10.1"
flask-sqlalchemy = "==2.4.1"
flask-http-response = "==0.0.1.0"
marshmallow-sqlalchemy = "==0.21.0"

[requires]
python_version = "3.7"
